.post{
        margin: auto;
        width: 50%;
        
        padding: 10px;

}

.center {
    margin: auto;
    width: 40%;
   
    padding: 10px;
}

.text{
    text-align: center;
    width: 90%;
}